<div class="container-lg mt-5">
    <mat-horizontal-stepper #stepper>
        <mat-step label="Carrinho">
          <div class="row mt-2" id="carrinho">
            <div class="col-8 produto-info">

            </div>
            <div class="col-3 produto-info">

            </div>
          </div>
        </mat-step>
        <mat-step label="Entrega">
            <p>oi</p>
        </mat-step>
        <mat-step label="Pagamento">
            <p>oi</p>
        </mat-step>
        <mat-step label="Confirmação">
            <p>oi</p>
        </mat-step>
    </mat-horizontal-stepper>
</div>
