input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.address {
  font-size: 15px;
}

.btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #2dce5d;
  font-size: 13px;
  color: #FFF;
}

.bi-geo-alt-fill {
  color: #2dce5d;
}
